{% extends 'article/base.html' %}

{% block content %}
    <h2>記事一覧</h2>
    <h4>記事数：<span id="article_count">{{ articles.count }}</span></h4>
    <div calss="articles-outer">
        {% for article in articles %}
        <div class="article">
            <a href="{% url 'article_detail' article_id=article.id %}"><h2>{{ article.title }}</h2></a>>
            <div class="like-outer">
                {% include 'article/like.html' %}
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    

    {% include 'script/async_like.html' %}
    
{% endblock %}
