<!--コメントフォーム-->
{% if request.user.is_authenticated %}
<div class="main-comment-section">
    <form method="POST" action="." id="add_comment" class="comment-form form-inline mb-0">
        {% csrf_token %}
        <button type="submit" class="btn-outline-secondary col-1">投稿</button>
        <label class="sr-only" for="id_text">コメント</label>
        <textarea name="text" class="form-control-sm col-11" placeholder="コメントする…" required="true"
            id="comment_textarea"></textarea>
    </form>
    {% endif %}

    <div class="container">
        <h2 class="text-center text-secondary my-4">コメント一覧(<var id="comment_count">{{ comments.count }}</var>)</h2>
        <div id="comment_list">
            {% for comment in comments %}
            <div class="comment">
                <p class="mb-0">{{ comment.text }}</p>
                <p>{{ comment.user.username }} / {{ comment.created_at|date:"Y年n月j日" }}

                    <!--削除ボタンの表示、非表示-->
                    {% if request.user == article.user or request.user == comment.user %}
                    <span style="cursor: pointer;" id="{{ comment.id }}" onclick="delComment(this)"><i
                            class="text-danger far fa-trash-alt"></i></span>
                    {% endif %}
                </p>
                <hr>
            </div>
>
            {% endfor %}
        </div>
    </div>
</div>