
<!--articles.htmlに埋め込まれているので最初にarticle.htmlが開かれて
    like.htmlが呼ばれたときはPOSTで呼ばれていないのでLikeViewはなにもしない。
    したがって、ArticleViewで定義した動作になる。
    したがって、ArticleViewで定義しているliked_listに対象の記事(userがいいねした記事)
    が入っていれば塗りつぶされたハートを表示、入っていなければ塗りつぶされたハートを表示
-->
<!--<form action="{% url 'like' %}" method="POST">-->

<form>
    {% if article.id in liked_list %}
    <button id="like" name="{{ article.id }}" class="clear-decoration"><i class="fas fa-lg fa-heart like-red" ></i></button>
    {% else %}
    <button id="like" name="{{ article.id }}" class="clear-decoration"><i class="far fa-lg fa-heart  like-red"></i></button>
    {% endif %}
</form>
<p name="{{ article.id }}-count">{{ article.like_set.count }}</p>
