<script type="text/javascript">
const article_count = parseInt(document.getElementById('article_count').innerHTML);
console.log(typeof article_count);
for (i=0; i < article_count; i++) {
    const id_like = document.getElementById(`like${i+1}`);
    console.log(id_like);
    id_like.addEventListener('click', e => {
        console.log(id_like.getAttribute('name'));
        console.log(typeof id_like.getAttribute('name'));
        e.preventDefault();

        const url = "{% url 'like' %}";
        console.log(typeof url);
        const data = { article_id: id_like.getAttribute('name') };
        console.log(data);
                
        //fetchAPI
        fetch(url, {
            method: 'POST',
            mode: 'same-origin',// Do not send CSRF token to another domain.
            headers: {
                'Content-Type': "application/json",
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(j => {
                console.log(j);
                console.log(j["article_id"]);
                console.log(j["liked"]);
                console.log(j["count"]);
                console.log(id_like.children[0].classList);
                if (j["liked"]) {
                    console.log(id_like.children[0].classList);
                    id_like.children[0].classList.remove("far")
                    id_like.children[0].classList.add("fas")
                    console.log(id_like.children[0].classList);
                }
                else {
                    console.log(id_like.children[0].classList);
                    id_like.children[0].classList.remove("fas")
                    id_like.children[0].classList.add("far")
                    console.log(id_like.children[0].classList);

                    //$(selector).html("<i class='far fa-lg fa-heart like-red'></i>");
                };
                console.log(document.getElementById(`${j["article_id"]}-count`).innerHTML);
                document.getElementById(`${j["article_id"]}-count`).innerHTML = `${j["count"]}`;
                //selector2 = document.getElementsByName(hoge.article_id + "-count");
                //$(selector2).text(hoge.count);;
            })
            .catch(e => {
                console.log('エラーです');
            });
    });
};
//    //jQuery
//    $(document).ready(function (event) {
//        $(document).on('click', '#like', function (event) {
//            event.preventDefault();
//            const jQurl = "{% url 'like' %}";
//            console.log(typeof jQurl);
//            $.ajax({//メソッドチェーンでコールバック関数を呼び出す書き方
//                type: 'POST',
//                url: jQurl,
//                data: {
//                    'article_id': $(this).attr('name'),
//                    'csrfmiddlewaretoken': '{{ csrf_token }}'
//                },
//                dataType: 'json'
//            })
//
//                .done(function (hoge) {//コールバック部分、hogeにJsonResponse(context)が渡されている
//                    console.log("self:", self);
//                    console.log("this:", this);
//                    console.log(`hoge.article_id:${hoge.article_id}, hoge.liked:${hoge.liked},  hoge.count: ${hoge.count}`);
//                    selector = document.getElementsByName(hoge.article_id);
//                    if (hoge.liked) {
//                        $(selector).html("<i class='fas fa-lg fa-heart like-red'></i>");
//                    }
//                    else {
//                        $(selector).html("<i class='far fa-lg fa-heart like-red'></i>");
//                    }
//                    selector2 = document.getElementsByName(hoge.article_id + "-count");
//                    $(selector2).text(hoge.count);
//                    console.log('jQueryの$.ajax()を使用したajax通信のコールバック部分')
//                })
//                .fail(function (data) {
//                    alert('please login or signup');
//                });
//            });
//        });
</script>